<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>probaTactics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <style>
        .testimonial-group > .row {
          overflow-x: auto;
            flex-wrap: nowrap;
          white-space: nowrap;
        }
        .testimonial-group > .row > .col {
          display: inline-block;
          float: none;
            padding: 2px;
            background-color: grey;
            border-radius: 2px;
        }
    </style>

</head>
<body>

    <h1>Let's grind master</h1>
    <div class="container testimonial-group">
      <div class="row">
          {% for champion in champion_list %}
                <div class="col">
                    {% load static %}
                    <img class="champion" id="{{ champion.name }}" src="{% static champion.pngPath %}">
                </div>

            {%  endfor %}
      </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h1>Ma selection</h1>
            <ul class="list-group">
                {% for champion in selectedChampions %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                {% load static %}
                                <img class="champion" id="{{ champion.name }}" src="{% static champion.pngPath %}">
                            </div>
                            <div class="col-2">
                                <button type="button" onclick="incChampField(`number-in-team-{{ champion.name }}`)" class="btn btn-primary" style="width: 34px">+</button>
                                <br>
                                <button type="button" onclick="dscChampField(`number-in-team-{{ champion.name }}`)" class="btn btn-primary" style="width: 34px;margin-top: 4px">-</button>
                            </div>
                            <div class="col-2">
                                Moi
                                <br>
                               <input style="border: none; background:none;" type="text" id="number-in-team-{{ champion.name }}" value="{{ champion.playerCount }}"/>
                            </div>
                            <div class="col-2">
                                <button type="button" onclick="incChampField(`number-in-enemies-{{ champion.name }}`)" class="btn btn-primary" style="width: 34px">+</button>
                                <br>
                                <button type="button" onclick="dscChampField(`number-in-enemies-{{ champion.name }}`)" class="btn btn-primary" style="width: 34px;margin-top: 4px">-</button>
                            </div>
                            <div class="col-2" style="text-align: center">
                                Adverses
                                <br>
                                <input style="border: none; background:none;" type="text" id="number-in-enemies-{{ champion.name }}" value="{{ champion.otherCount }}"/>

                            </div>
                        </div>
                    </li>
                {%  endfor %}
            </ul>
        </div>
        <div class="col-6">
            <div id="graph"></div>
        </div>
        <div class="col-3">
            <h1>Champions achetés :</h1>
            <div class="container">
                <ul class="list-group">
                    {% for cost in championsBoughtByCost %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">
                                    {{ forloop.counter }} &#9733; :
                                    <input style="border: none; background:none;" type="text" id="number-in-remains-{{ forloop.counter }}" value="{{ cost }}"/>

                                </div>
                                <div class="col-3" style="margin-right: 5px">
                                    <button type="button"  onclick="incChampField(`number-in-remains-{{ forloop.counter }}`)" class="btn btn-primary">Augmenter</button>
                                </div>
                                <div class="col-3">
                                    <button type="button" onclick="dscChampField(`number-in-remains-{{ forloop.counter }}`)" class="btn btn-primary">Réduire</button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>
{% block javascript %}
    <script>
    $(".champion").click(function(e) {
        $.ajax({
            url: 'selectedChamp/add',
            data : {
                'name': e.target.id
            },
            success: function (data) {

            }
        });
    })
    function incChampField(idNbChamp) {
        let value = parseInt(document.getElementById(idNbChamp).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(idNbChamp).value = value;
        // requete pour update ennemies champ
        if(/number-in-enemies/gi.test(idNbChamp)){

        }
        // requete pour update myteam champ
        if(/number-in-team/gi.test(idNbChamp)){

        }
        // requete pour update ennemies champ
        if(/number-in-remains/gi.test(idNbChamp)){

        }
    }

    function dscChampField(idNbChamp) {
        let value = parseInt(document.getElementById(idNbChamp).value, 10);
        if(value === 0) document.getElementById(idNbChamp).value = value;
        else {
            value = isNaN(value) ? 0 : value;
            value--;
            document.getElementById(idNbChamp).value = value;
        }
        // requete pour update ennemies champ
        if(/number-in-enemies/gi.test(idNbChamp)){

        }
        // requete pour update myteam champ
        if(/number-in-team/gi.test(idNbChamp)){

        }
        // requete pour update ennemies champ
        if(/number-in-remains/gi.test(idNbChamp)){

        }
    }
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('graph', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['% getting your comp']
        },
        series: [{
            name: 'Year 1800',
            data: []
        }, {
            name: 'Year 1900',
            data: []
        }, {
            name: 'Year 2012',
            data: [100]
        }]
    });
  </script>

{% endblock %}

</html>