<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>probaTactics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        xAxis: {
            categories: ['% getting your comp']
        },
        series: [{
            name: 'Year 1800',
            data: []
        }, {
            name: 'Year 1900',
            data: []
        }, {
            name: 'Year 2012',
            data: [100]
        }]
    });
  </script>
    <h1>Let's grind master</h1>
    
    <ul>
        {% for champion in champion_list %}
            <li>
                {% load static %}
                <img class="champion" id="{{ champion.name }}" src="{% static champion.pngPath %}">
            </li>

        {%  endfor %}
    </ul>
    <h1>Ma selection</h1>
        <ul>
            {% for champion in selectedChampions %}
                <li>{{ champion.name }}</li>
                <input type="text" id="number-in-team-{{ champion.name }}" value="0"/>
                <input type="button" onclick="incChampInTeam('number-in-team-{{ champion.name }}' )" value="+" />
                <input type="button" onclick="dscChampInTeam('number-in-team-{{ champion.name }}' )" value="-" />
            {%  endfor %}
        </ul>
</body>
{% block javascript %}
    <script>
    $(".champion").click(function(e) {
        $.ajax({
            url: 'selectedChamp/add',
            data : {
                'name': e.target.id
            },
            success: function (data) {

            }
        });
    })
    function incChampInTeam(idNbChamp) {
        let value = parseInt(document.getElementById(idNbChamp).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(idNbChamp).value = value;
    }

    function dscChampInTeam(idNbChamp) {
        let value = parseInt(document.getElementById(idNbChamp).value, 10);
        if(value === 0) document.getElementById(idNbChamp).value = value;
        else {
            value = isNaN(value) ? 0 : value;
            value--;
            document.getElementById(idNbChamp).value = value;
        }
    }
    </script>

{% endblock %}

</html>