<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>probaTactics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <style>
        .testimonial-group > .row {
          overflow-x: auto;
            flex-wrap: nowrap;
          white-space: nowrap;
        }
        .testimonial-group > .row > .col {
          display: inline-block;
          float: none;
            padding: 2px;
            background-color: grey;
            border-radius: 2px;
        }
        .list-my-champs{
            max-height: 700px;
            margin-bottom: 10px;
            overflow-y:scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
    </style>

</head>
<body>

    <h1>Let's grind master</h1>
    <div class="container testimonial-group">
      <div class="row">
          {% for champion in champion_list %}
                <div class="col">
                    {% load static %}
                    <img class="champion" id="{{ champion.name }}" src="{% static champion.pngPath %}">
                </div>

            {%  endfor %}
      </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h1>Ma selection</h1>
            <ul class="list-group list-my-champs" id="list-selected-champions">
                {% for champion in selectedChampions %}
                    <li class="list-group-item" id="row-{{ champion.name }}">
                        <div class="row">
                            <div class="col-2">
                                {% load static %}
                                <img class="champion" id="{{ champion.name }}" src="{% static champion.pngPath %}">
                            </div>
                            <div class="col-2">
                                <button type="button"  class="btn btn-primary number-inTeam" id="inc-inTeam-{{ champion.name }}" style="width: 34px">+</button>
                                <br>
                                <button type="button"  class="btn btn-primary number-inTeam" id="dec-inTeam-{{ champion.name }}" style="width: 34px;margin-top: 4px">-</button>
                            </div>
                            <div class="col-2">
                                Moi
                                <br>
                                <div id="number-inTeam-{{ champion.name }}">{{ champion.playerCount }}</div>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary number-inEnemies" id="inc-inEnemies-{{ champion.name }}" style="width: 34px">+</button>
                                <br>
                                <button type="button" class="btn btn-primary number-inEnemies" id="dec-inEnemies-{{ champion.name }}" style="width: 34px;margin-top: 4px">-</button>
                            </div>
                            <div class="col-2" style="text-align: center">
                                Adverses
                                <br>
                                <div id="number-inEnemies-{{ champion.name }}">{{ champion.otherCount }}</div>
                            </div>
                            <div class="col-1" >
                                <button type="button" class="btn btn-danger delete-selected-champion"  id="delete-{{ champion.name }}" style="width: 34px;">X</button>
                            </div>
                        </div>

                    </li>
                {%  endfor %}
            </ul>
        </div>
        <div class="col-6">
            <div id="graph"></div>
        </div>
        <div class="col-3">
            <h1>Champions achetés :</h1>
            <div class="container">
                <ul class="list-group">
                    {% for cost in championsBoughtByCost %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3">
                                    {{ forloop.counter }} &#9733; :<div id="cost-{{ forloop.counter }}-value"> {{ cost }}</div>
                                </div>
                                <div class="col-3" style="margin-right: 5px">
                                    <button type="button" class="btn btn-primary upd-champion-cost" id="inc-cost-{{ forloop.counter }}">Augmenter</button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary upd-champion-cost" id="dec-cost-{{ forloop.counter }}">Réduire</button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>

{% block javascript %}
    <script>
    $(".champion").click(function(e) {
        $.ajax({
            url: 'selectedChamp/add',
            data : {
                'name': e.target.id
            },
            success: function (data) {
                var inserted_champion = JSON.parse(data["inserted_champion"]);
                loadGraph()
                $("#list-selected-champions").append(
                    '<li class="list-group-item" id="row-' + inserted_champion['name'] + '">' +
                    '                        <div class="row">' +
                    '                            <div class="col-2">' +
                    '                                <img class="champion" id="' + inserted_champion['name'] + '" src="/static' + inserted_champion['pngPath'] + '">' +
                    '                            </div>' +
                    '                            <div class="col-2">' +
                    '                                <button type="button" onclick="updateNumberInTeam(\'inc-inTeam-' + inserted_champion['name'] + '\')" id="inc-inTeam-' + inserted_champion['name'] + '" class="btn btn-primary number-inTeam" style="width: 34px">+</button>' +
                    '                                <br>' +
                    '                                <button type="button" onclick="updateNumberInTeam(\'dec-inTeam-' + inserted_champion['name'] + '\')" id="dec-inTeam-' + inserted_champion['name'] + '" class="btn btn-primary number-inTeam" style="width: 34px;margin-top: 4px">-</button>' +
                    '                            </div>' +
                    '                            <div class="col-2">' +
                    '                                Moi' +
                    '                                <br>' +
                    '                               <div id="number-inTeam-' + inserted_champion['name'] + '">' + inserted_champion['playerCount'] + '</div>' +
                    '                            </div>' +
                    '                            <div class="col-2">' +
                    '                                <button type="button" onclick="updateNumberInEnnemies(\'inc-inEnemies-' + inserted_champion['name'] + '\')" id="inc-inEnemies-' + inserted_champion['name'] + '" class="btn btn-primary number-inEnemies" style="width: 34px">+</button>' +
                    '                                <br>' +
                    '                                <button type="button" onclick="updateNumberInEnnemies(\'dec-inEnemies-' + inserted_champion['name'] + '\')" id="dec-inEnemies-' + inserted_champion['name'] + '" class="btn btn-primary number-inEnemies" style="width: 34px;margin-top: 4px">-</button>' +
                    '                            </div>' +
                    '                            <div class="col-2" style="text-align: center">' +
                    '                                Adverses' +
                    '                                <br>' +
                    '                                <div id="number-inEnemies-' + inserted_champion['name'] + '">' + inserted_champion['otherCount'] + '</div>' +
                    '                            </div>' +
                    '                            <div class="col-1" >' +
                    '                                <button type="button" class="btn btn-danger delete-selected-champion" onclick="deleteChampion(\''+ inserted_champion['name'] + '\')"  id="delete-' + inserted_champion['name'] + '" style="width: 34px;">X</button>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </li>'
                )
                console.log(data)
            }
        });
    })

    $(".upd-champion-cost").click(function(e) {
        $.ajax({
            url: 'championsByCost/update',
            data : {
                'name': e.target.id
            },
            success: function (data) {
                loadGraph()
                id = "cost-" + data.cost + "-value"
                document.getElementById(id).innerHTML = data.value;
            },
            error: function (response) {
                alert("out of bound");
            }
        });
    });

    $(".number-inEnemies").click(function(e) {
        $.ajax({
            url: 'championInEnemies/update',
            data : {
                'name': e.target.id
            },
            success: function (data) {
                loadGraph()
                id ="number-inEnemies-"+data.name
                document.getElementById(id).innerHTML = data.value;
            },
            error: function (response) {
                alert("out of bound");
            }
        });
    });

    function updateNumberInEnnemies(name) {
        $.ajax({
            url: 'championInEnemies/update',
            data : {
                'name': name
            },
            success: function (data) {
                loadGraph()
                id ="number-inEnemies-"+data.name
                document.getElementById(id).innerHTML = data.value;
            },
            error: function (response) {
                alert("out of bound");
            }
        });
    }

    $(".delete-selected-champion").click(function (e) {
        championToDelete = e.target.id;
        championToDelete = championToDelete.substr(championToDelete.indexOf('-') + 1)
        deleteChampion(championToDelete);
    })

    $(".number-inTeam").click(function(e) {
        $.ajax({
            url: 'championInTeam/update',
            data : {
                'name': e.target.id
            },
            success: function (data) {
                loadGraph()
                id = "number-inTeam-"+data.name;
                document.getElementById(id).innerHTML = data.value;
            },
            error: function (response) {
                alert("out of bound");
            }
        });
    });

    function updateNumberInTeam(name) {
        $.ajax({
            url: 'championInTeam/update',
            data : {
                'name': name
            },
            success: function (data) {
                loadGraph()
                id ="number-inTeam-"+data.name
                document.getElementById(id).innerHTML = data.value;
            },
            error: function (response) {
                alert("out of bound");
            }
        });
    }


    function deleteChampion(championName) {
        var removeSelectedChamp = window.confirm("Voulez-vous remettre vos " + championName + " dans les champions restants ?")
        $.ajax({
            url: 'selectedChamp/delete',
            data: {
                'name': championName,
                'reset': removeSelectedChamp
            },
            success: function (data) {
                loadGraph()
                let rowToDelete = document.getElementById("row-" + championName);
                document.getElementById("list-selected-champions").removeChild(rowToDelete)
                console.log(data)
            },
            error: function (response) {

            }
        })
    }
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script>
  function loadGraph(){
      $.ajax({
            url: 'GetselectedChamp',
            success: function (data) {
                let selectedChampions = data.selected_champions
                if(!Array.isArray(selectedChampions)){
                    selectedChampions = [selectedChampions]
                }

                let allNameChamp = []
                let allDropRateChamp = []
                selectedChampions.forEach((e)=>{
                    allNameChamp.push(e.name)
                    allDropRateChamp.push(e.dropRateOfAll)
                })
                console.log(selectedChampions)
                console.log(allDropRateChamp)


                $('#graph').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Les probabilités de mes unités'
                    },
                    subtitle: {
                        text: 'probabilités sur une seule roll'
                    },
                    xAxis: {
                        categories: allNameChamp,
                        crosshair: true
                    },
                    yAxis: {min: 0, max:100,tickInterval: 25,
                              title: {
                                  text: "title"
                              },
                              labels: {
                                  format: '{value}%',
                              }
                          },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'pourcentage',
                        data: allDropRateChamp,
                    }]
                })
            },
            error: function (response) {

            }
        })

  }

  </script>

{% endblock %}

</html>